  
<!DOCTYPE html>
<html>
  <head>
    <title>Music Organizer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Music Organizer</h1>
    <p>Fill out the following form</p>
    <form class="jumbotron" action="/record" method="post">

     <label for="recordTitle">Enter A record title word:</label>
     <input id="recordTitle" name="recordTitle" type="text">

     <button type="submit">Add to Music Organizer</button>

    </form>
  </body>
</html>
